[submodule "fonts"]
	path = fonts
	url = git@github.com:powerline/fonts.git
[submodule "iterm-themes"]
	path = iterm-themes
	url = git@github.com:cesargomez89/themes.git
[submodule "iterm2-themes"]
	path = iterm2-themes
	url = git@github.com:cesargomez89/themes.git
[submodule "themes"]
	path = themes
	url = git@github.com:cesargomez89/themes.git
